:root{
    --font-clr: rgb(16, 16, 16);
}
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow-x: hidden;
    /* font-family: 'Tinos', serif; */
    font-family: 'Noto Sans', sans-serif;
    height: 750vh;
}
body h1,h2,h3,h4,h5{
    font-weight: 300;
}
body::-webkit-scrollbar {
    display: none;
}

body p{
    font-weight: 200;
}
   

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

.menu{
    position: fixed;
    right: 5%;
    top:5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    z-index: -1;
}

.loading-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: white;
}

.logo{
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.logo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0;
}



nav{
    width: 90%;
    z-index: 10;
    position: fixed;
    left: 5%;
    top: 5%;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0;
}
.nav-links{
    width: max-content;
    display: flex;
    gap: 1em;
}
.nav-links a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-burger{
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}
.nav-burger:hover .nav-burger-line{
    transform: translateX(50px);
}
.nav-burger:hover::before{
    transform: translateY(-5px);
}
.nav-burger:hover::after{
    transform: translateY(5px);
}
.nav-burger::before{
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    transition: all 0.2s;
}
.nav-burger::after{
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    transition: all 0.2s;
}
.nav-burger-line{
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.2s;
}


.menu-page{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(1, 1, 69);
    transform: translateX(100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-page-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
}
.menu-page a{
    text-decoration: none;
    font-size: 6rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.text-wrapper{
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    opacity: 0;
    display: none;
    flex-direction: column;
    gap: 2em;
}
.text-wrapper h1{
    pointer-events: none;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}
.text-wrapper p{
    pointer-events: none;
    width: 25vw;
    font-weight: 300;
    font-size: 1.2rem;
}

.project-btn{
    position: relative;
    width: 5em;
    height: 5em;
    border: 3px solid white;
    color: white;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
}
.project-btn:hover{
    background: white;
    color: black;
    transform: scale(1.2);
}
.project-btn::after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 5.8em;
    height: 5.8em;
    border: 1px solid white;
    border-radius: 50%;
}

@media only screen and (max-width: 480px){
    nav a{
        display: none;
    }

    .text-wrapper{
        top: 80%;
    }
    .text-wrapper h1{
        background: black;
    }
    .text-wrapper p{
        width: 90vw;
        background: black;
    }

    .menu-page a{
        font-size: 4rem;
    }
}


/*# sourceMappingURL=main.css.map*/